.nav-logo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* sticky: 'top' */

}

.form {
    background-color: hsl(216 65% 11%/var(--tw-bg-opacity));
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
}